form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

form > * {
  margin: 5px 0;
  box-sizing: border-box;
}

.button-custom {
  background-color: #008CBA; /* Blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}